@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

:root {
    --background-main: #0F0013;
    --colorPrimary: #290A34;
    --colorSecondary: #9B51E0;
    --font-coda: 'Coda', cursive;
    --font-ledger: 'Ledger', serif;
    font-size: 16px;
}

.text-keep {
    word-break: keep-all !important;
    white-space: nowrap;
}

.desktop-only {
    display: none;
}

.border {
    border: 1px solid red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container-fluid {
    width: 100%;
}

#brand {
    width: 180px;
    aspect-ratio: 1 / 1;
}

#left-side, #right-side {
    height: 100vh;
    position: relative;
}

#right-side {
    width: 100%;
    font-family: var(--font-ledger);
    color: var(--colorPrimary);
    padding-top: 20vh;
}

#right-side>h1, h2 {
    width: 90%;
    color: var(--colorPrimary);
}

#right-side>p {
    position: absolute;
    bottom: 0;

    margin-bottom: 2.5rem;
}

#ellipse-element, #ellipse-top, #ellipse-bottom {
    position: absolute;
    top: 0;
    right: 0;
}

#form-login {
    width: 90%;
}

/* Backgrounds */
.bg-main {
    background: var(--background-main);
}

.bg-light {
    background: #FFFFFF;
}

/* colors */
.color-light {
    color: #FFFFFF;
}

.color-primary {
    color: var(--colorPrimary);
}

.color-secondary {
    color: var(--colorSecondary);
}

/* display */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: start;
}

/* margin */
.mb-1 {
    margin-bottom: 26px;
}

.mb-4 {
    margin-bottom: 14px;
}


.ms-3 {
    margin-left: 16px;
}

/* form control */
.form-label {
    font-family: var(--font-ledger);
    font-size: 14;
}

form.form-control {
    height: auto;
    gap: calc(1rem/2);
}

input.form-control {
    color: var(--colorPrimary);
    border: 1.2px solid #E8E8E8;
    font-family: var(--font-ledger);
    font-size: .9rem;
    font-weight: lighter;
    outline: none;
    padding: 1rem;
}

/* font sizes */

.fs-2 {
    font-size: calc(2rem - 4px);
}

.fs-3 {
    font-size: calc(2rem - 8px);
}

.fs-5 {
    font-size: 1rem;
}



/* fonts */
.font-coda {
    font-family: var(--font-coda);
}

.font-ledge {
    font-family: var(--font-ledger);
}

/* font-weight */

.fw-bold {
    font-weight: bold;
}

.fw-bolder {
    font-weight: bolder;
}

.fw-lighter {
    font-weight: lighter;
}

.fw-1 {
    font-weight: 300;
}

.fw-2, .fw-regular {
    font-weight: 400;
}

.fw-3 {
    font-weight: 500;
}

.fw-4 {
    font-weight: 600;
}

.fw-5 {
    font-weight: 700;
}

/* gaps */
.gap-1 {
    gap: calc(1rem/2);
}

/* buttons */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
    height: 1.5rem;
    padding: 1.5rem;
    border-radius: 4px;
    font-weight: bold;
    font-family: var(--font-coda);
    font-size: 14px;
    cursor: pointer;
}




/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #form-login {
        width: 60%;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #left-side {
        width: 55%;
        font-family: var(--font-coda);
    }

    #ellipse-element, #ellipse-top, #ellipse-bottom {
        position: absolute;
        top: 0;
        right: 0;
    }

    #form-login {
        width: 50%;
    }

    #right-side>h1, h2 {
        width: 50%;
    }

    #logo-element {
        width: 400px;
        color: #FFFFFF;
        font-family: var(--font-coda);
    }

    #rectangle-top {
        width: 89%;
    }

    #rectangle-bottom {
        width: 18rem;
    }

    #right-side {
        width: 45%;
        font-family: var(--font-ledger);
        color: var(--colorPrimary);
        padding-top: 15vh;
    }

    .desktop-only {
        display: flex;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #form-login {
        width: 55%;
    }

    #right-side>h1, h2 {

        width: 55%;
    }

    #logo-element {
        width: 400px;
        color: #FFFFFF;
        font-family: var(--font-coda);
    }

    #rectangle-top {
        width: 23rem;
    }

    #rectangle-bottom {
        width: 18rem;
    }


}